body {
  background-color: #f4f4f4;
  height: 100%;
}

html {
  height: 100%;
}

*{
  font-family: Montserrat;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-size: 20px;
}

@font-face {
  font-family: Montserrat;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2);
}

.parallax {
  background-image: url("../res/background1.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("../res/background2.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.para-component {
  position: flex;
  float: left;
  display: block;
  margin-top: 3em;
  width: 100%;
  left:0;
  background-color: #f4f4f4ea;
}

.para-component p {
  position: flex;
  margin: 2em;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
}

nav a {
  margin: 0 2rem;
  font-size: 1.25rem;
  font-style: normal;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color : #006400;
}

header .nav-button {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  header .nav-button {
    visibility: visible;
    opacity: 1;
  }

  header .responsive-nav {
    transform: none;
    background-color: rgba(255, 255, 255, 0.993);
  }

  header nav {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    position: fixed;
    transition: 1.5s;
    transform-origin: 0;
    transform: translateY(-100vh);
    gap: 1rem;
    top : 0;
    left: 0;
    height: 100%;
    width: 100%;
  }



  nav .nav-exit-button{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
    padding-top : 0.75rem;
    padding-bottom: 0.75rem;
  }

}
